/* ------------------------------
   1. IMPORTS Y VARIABLES
--------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100..900&display=swap');

:root {
  --primary-blue: #0077ff;
  --secondary-yellow: #e0e37c;
  --accent-orange: #00bfff;
  --text-white: #ffffff;
  --text-black: #000000;
  --background-gray: #f3f4f6;
}
/* ------------------------------
   2. GLOBAL STYLES
--------------------------------*/
header {
  background-color: var(--background-gray);
  color: var(--text-white);
 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-black);
}

header,main,footer {
  width : 840px;
  margin: 0 auto;

}

h1,h2{
  font-family: var(--primary-blue);
  color: var(--primary-blue);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a{
  text-decoration: none;
}

/* ------------------------------
   3. HERO STYLES
--------------------------------*/

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;

}

 .hero article {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 60%;
  background-color: var(--secondary-yellow);
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.hero h1 {
  position: absolute;
  top: 20%;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--primary-blue);
  color: var(--text-white);
  font-family: roboto, sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
  opacity: 0.7;
 
}
.hero article img {
  float: right;
  width: 125px;
}

