
https://coolors.co/palette/743eb6-b6cdc6-0795ed-e5242a-f6d43c.
:root {
    --primary-color: #743EB6;
    --secondary-color: #B6CDC6;
    --accent1-color: #0795ED;
    --accent2-color: #E5242A;
    --accent3-color: #F6D43C;